.venv
__pycache__

*.csv
*.jpg
*.jpeg

# DVC tracks data, Git tracks .dvc files and .dvcignore
/raw_images
/raw

# CVAT exports (temp staging)
/cvat_exports

# MLFlow (generated locally)
/mlruns

# OS Files
.DS_Store
/data
